@import "variables.scss";

.apartment {
  display: flex;
  justify-content: space-between;
  &Info {
    &Title {
      color: $primary;
      font-weight: 500;
      font-size: 36px;
      line-height: 142.6%;
    }
    &Location {
      color: $primary;
      font-weight: 500;
      font-size: 18px;
      margin-top: 0px;
    }
  }
  &Host {
    display: flex;
    &Name {
      display: flex;
      flex-direction: column;
      color: $primary;
      font-weight: 500;
      font-size: 18px;
      line-height: 142.6%;
      margin-right: 10px;
      span {
        margin-bottom: 5px;
      }
    }
    &Img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
  }
}

.details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2em;
}

.dropdown {
  flex-basis: 47%;
}
.list {
  background-color: $white;
  flex-basis: 47%;
}

@media screen and (max-width: 768px) {
  .dropdown,
  .list {
    flex-basis: 100%;
  }

  .apartment {
    flex-direction: column;
    &Name {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      margin-top: 16px;
      align-items: center;
    }
    &Info {
      &Title {
        font-size: 18px;
      }
      &Location {
        margin-top: 5px;
        font-size: 14px;
      }
    }
    &Host {
      &Name {
        font-size: 12px;
        span {
        }
      }
      &Img {
        width: 32px;
        height: 32px;
      }
    }
  }
}
