@import "variables.scss";

.tag {
  color: $white;
  background-color: $primary;
  padding: 5px 20px;
  border-radius: 10px;
  display: inline-block;
  margin-right: 10px;
  font-weight: 500;
  font-size: 14px;
  height: 25px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .tag {
    font-size: 10px;
  }
}
